*
!/**/
!*.*
!makefile
!Makefile
!Makefile-manual
!/libs/*

/build/
/build-win/
/build-wasm/
*.exe
*.log

/res/*
imgui.ini
/.cache/*
.clangd
compile_commands.json
/.vscode/*
/html/*
/doc/*
/latex/*
doxygen_config.txt
/cmake-build-debug/
.idea/
.vs/
*.ilk
*.pdb
*.so
*.dll
*.sc
